{% extends 'base.html.twig' %}

{% block title %}Star Wars Movies{% endblock %}

{% block body %}
<div class="row">
    <div class="col-6 mx-auto mb-5">
        <div class="p-5 mb-4 bg-black rounded-3 mt-3">
            <div class="col-6 mx-auto text-center">
                <img alt="Archivo:Star Wars Logo.svg"
                     src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/694px-Star_Wars_Logo.svg.png"
                     decoding="async"
                     width="347"
                     height="210"
                     srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1041px-Star_Wars_Logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1388px-Star_Wars_Logo.svg.png 2x"
                     data-file-width="347"
                     data-file-height="210">
            </div>
            <div class="col-6 mx-auto">
                <a class="nav-link active btn btn-warning" aria-current="page" href="/login">Enter to the Star Wars Galaxy</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
